<ion-view title='Menu' animation="fade-in-up">

  <ion-content style="background-color: #edecec;">
    <ion-card>
        <div class="login-menu col-12 margin-b-5 pad-b-10 pad-l-15">
            <span>Welcome {{user.names}}</span>
        </div>
        <div class="padding pad-t-30 pad-l-15 menu-cont" style="position: relative;">
            <div class="login-menu col-4 margin-r-10">
                <div class="col-12 grid-header margin-b-0" ng-click="goToState('app.sales')">
                    <div class="col-12">
                        <div class="col-xs-12 text-center msg-icon-flex">
                            <div class="icon-cont">
                                <b>
                                    <i class="icon ion-settings
                                    text-white fs-20"></i>
                                </b>
                            </div>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Garage</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-4 margin-r-10" ng-click="goToState('app.purchases')">
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12 text-center">
                        <div class="col-xs-12">
                            <div class="icon-cont bg-success">
                                <b>
                                    <i class="icon ion-android-bus fs-20 text-white"></i>
                                </b>
                            </div>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Tow Trucks</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-4 margin-r-8" ng-click="goToState('app.purchases')">
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12 text-center">
                        <div class="col-xs-12">
                            <div class="icon-cont bg-warning">
                                <b>
                                    <i class="icon ion-lock-combination fs-18 text-white"></i>
                                </b>
                            </div>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Motor Insurance</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row two -->
        <div class="padding pad-t-0 pad-l-15 menu-cont" style="position: relative;">
            <div class="login-menu col-4 margin-r-10">
                <div class="col-12 grid-header margin-b-0" ng-click="goToState('app.sales')">
                    <div class="col-12">
                        <div class="col-xs-12 text-center msg-icon-flex">
                            <div class="icon-cont bg-cyan">
                                <b>
                                    <i class="icon ion-android-boat
                                    text-white fs-20"></i>
                                </b>
                            </div>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Freight & Imports</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-4 margin-r-10" ng-click="goToState('app.purchases')">
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12 text-center">
                        <div class="col-xs-12">
                            <div class="icon-cont bg-royal">
                                <b>
                                    <i class="icon ion-android-car fs-20 text-white"></i>
                                </b>
                            </div>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Car Hire & Tours</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-4 margin-r-8" ng-click="goToState('app.purchases')">
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12 text-center">
                        <div class="col-xs-12">
                            <div class="icon-cont bg-danger">
                                <b>
                                    <i class="icon ion-ios-speedometer-outline fs-18 text-white"></i>
                                </b>
                            </div>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Driving School</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row Three -->
        <div class="padding pad-t-0 pad-l-15 menu-cont" style="position: relative;">
            <div class="login-menu col-4 margin-r-10">
                <div class="col-12 grid-header margin-b-0" ng-click="goToState('app.sales')">
                    <div class="col-12">
                        <div class="col-xs-12 text-center msg-icon-flex">
                            <div class="icon-cont bg-default pad-t-8">
                                <b>
                                    <i class="icon ion-ios-paper
                                    text-white fs-18"></i>
                                </b>
                            </div>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Logistics</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-4 margin-r-10" ng-click="goToState('app.purchases')">
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12 text-center">
                        <div class="col-xs-12">
                            <div class="icon-cont bg-info">
                                <b>
                                    <i class="icon ion-earth fs-20 text-white"></i>
                                </b>
                            </div>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Dealerships</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-4 margin-r-8" ng-click="goToState('app.purchases')">
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12 text-center">
                        <div class="col-xs-12">
                            <div class="icon-cont bg-teal pad-t-8">
                                <b>
                                    <i class="icon ion-chatbox-working fs-18 text-white"></i>
                                </b>
                            </div>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Others</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-card>

  </ion-content>

</ion-view>