<div class="padding pad-t-30 pad-l-15 modal-fade-in" style="position: relative;">
	<div class="login-menu col-12 margin-r-10 margin-b-20">
        <div class="col-12 grid-header margin-b-10" ng-click="goToState('app.sales')">
            <div class="col-12">
                <div class="col-xs-12 title-text" style="padding: 3px 17px;">
                    <b>Exercise</b>
                </div>
                <div class="col-xs-12" style="padding: 5px 15px 0px;">
                    <div class="col-12">
                        <form class="padding pad-t-5">
				            <div class="form-cont margin-b-0 margin-t-0"
				            style="width: 110%;margin-left: -20px;
				            margin-bottom:15px;padding-left: 10px;">
				            	<div class="group">
				            		<label class="top--5"><small>How many moderate exercise sessions in a week do you have? <span class="text-light-grey">(Moderate exercise is 30 minutes per session)</span></small></label>
				            		<div class="col-12 flex margin-t-40 pad-t-30" style="flex-direction: row;justify-content: space-between;">
				            			<div ng-repeat="val in exercises" 
				            			class="circle-input">
				            				<small>{{val.display}}</small>
				            			</div>
				            		</div>
				            	</div>
				            </div>
                        </form>
                    </div>
                    <div class="col-12 flex" style="justify-content: space-between;">
                    	<div class="col-4">
                    		<button type="button" 
	                        class="button button-block" ng-click="changeContext('family_history')">
	                            Previous
	                        </button>
                    	</div>
                    	<div class="col-4"></div>
                    	<div class="col-4">
                    		<button type="button" 
	                        class="button button-block button-balanced zamara-primary" ng-click="changeContext('exercise_results')">
	                            Next
	                        </button>
                    	</div>
                    	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>