<div class="padding pad-t-30 pad-l-15 modal-fade-in" style="position: relative;">
	<div class="login-menu col-12 margin-r-10 margin-b-20">
        <div class="col-12 grid-header margin-b-10" ng-click="goToState('app.sales')">
            <div class="col-12">
                <div class="col-xs-12 title-text" style="padding: 3px 17px;">
                    <b>Smoking</b>
                </div>
                <div class="col-xs-12" style="padding: 5px 15px 0px;">
                    <div class="col-12">
                        <form class="padding pad-t-5">
				            <div class="form-cont margin-b-0 margin-t-10"
				            style="width: 110%;margin-left: -20px;
				            margin-bottom:15px;padding-left: 10px;">
				            	<div class="group">
				            		<label class="top--5 margin-b-30">
				            			<small>
											Do you smoke cigarettes?
										</small>
									</label>
				            		<div class="col-12 margin-t-40 pad-l-5">
           								<md-radio-group ng-model="hra.smoking">
									      <md-radio-button value="NO" aria-label="Label 1">No</md-radio-button>
									      <md-radio-button value="QUIT"> I used to but I quit </md-radio-button>
									      <md-radio-button value="YES" aria-label="Label 3">Yes</md-radio-button>
									    </md-radio-group>
									    
				            		</div>
				            	</div>
				            </div>

				            <!-- Other conditional section -->
				            <div class="col-12" ng-if="hra.smoking === 'YES'">
				            	<div class="form-cont margin-b-0 margin-t-10"
					            style="width: 110%;margin-left: -20px;
					            margin-bottom:15px;padding-left: 10px;">
					                <div class="group">
										<input type="number"
										     name="number" 
										      placeholder="Enter no. of cigarettes smoked per day"
										     ng-model="hra.smoke_number">
										<span class="highlight"></span>
										<label>Cigarettes smoked per day</label>
										<span class="highlight"></span>
										<span class="bar"></span>
										<label>Cigarettes smoked per day</label>
					                </div>
					            </div>
					            <div class="form-cont margin-b-0 margin-t-10"
					            style="width: 110%;margin-left: -20px;
					            margin-bottom:15px;padding-left: 10px;">
					                <div class="group">
										<input type="number"
										     name="number" 
										      placeholder="Enter no. years
										      you have been smoking"
										     ng-model="hra.smoking_years">
										<span class="highlight"></span>
										<label>No. of years of smoking</label>
										<span class="highlight"></span>
										<span class="bar"></span>
										<label>No. of years of smoking</label>
					                </div>
					            </div>
					            <div class="form-cont margin-b-0 margin-t-10"
					            style="width: 110%;margin-left: -20px;
					            margin-bottom:15px;padding-left: 10px;">
					                <div class="group">
										<input type="number"
										     name="number" 
										      placeholder="Pack years"
										     ng-model="hra.smoking_pack_years">
										<span class="highlight"></span>
										<label>Pack years (auto-calculated)</label>
										<span class="highlight"></span>
										<span class="bar"></span>
										<label>Pack years (auto-calculated)</label>
					                </div>
					            </div>
					            <div class="form-cont margin-b-0 margin-t-0"
	                            style="width: 110%;margin-left: -20px;
	                            margin-bottom:15px;padding-left: 10px;">
	                                <div class="group">
	                                    <label class="top--5"><small>During the past month, on how many days did you smoke cigarettes?</small></label>
	                                    <div class="col-12 flex margin-t-40 pad-t-0 margin-b-20" style="flex-direction: row;justify-content: space-between;">
	                                        <div ng-repeat="val in smoking" 
	                                        class="circle-input">
	                                        	<small>
	                                            	<small>{{val.display}}</small>
	                                            </small>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- End of fish eating -->
	                            <!-- Start of no after waking -->
	                            <div class="form-cont margin-b-0 margin-t-0"
	                            style="width: 110%;margin-left: -20px;
	                            margin-bottom:15px;padding-left: 10px;">
	                                <div class="group">
	                                    <label class="top--5"><small>In how many minutes after you wake up do you smoke your first cigarette?</small></label>
	                                    <div class="col-12 flex margin-t-40 pad-t-0 margin-b-20" style="flex-direction: row;justify-content: space-between;">
	                                        <div ng-repeat="val in sticks" 
	                                        class="circle-input">
	                                            <small>{{val.display}}</small>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- End of sugar -->

	                            <!-- Readiness to change -->
	                            <div class="form-cont margin-b-10 margin-t-0"
					            style="width: 110%;margin-left: -20px;
					            margin-bottom:15px;padding-left: 10px;">
					            	<div class="group">
					            		<label class="top--5">
					            			<small>
											Indicate how ready you are to make changes to your current smoking status?
											</small>
										</label>
					            		<div class="col-12 flex pad-t-20 margin-t-20" style="flex-direction: row;justify-content: space-between;">
					            			<div ng-repeat="val in waist track by $index" 
					            			class="circle-input">
					            				<i class="icon ion-happy-outline fs-25" ng-if="$index === 0"></i>
					            				<i class="icon ion-android-happy fs-30" ng-if="$index === 1"></i>
					            				<i class="icon ion-sad-outline fs-25" ng-if="$index === 2"></i>
					            			</div>
					            		</div>
					            	</div>
					            </div>
	                            <!-- End of readiness -->
				            </div>
				            <!-- End of conditional section -->
                        </form>
                    </div>
                    <div class="col-12 flex" style="justify-content: space-between;">
                    	<div class="col-4">
                    		<button type="button" 
	                        class="button button-block" ng-click="changeContext('eating_results')">
	                            Previous
	                        </button>
                    	</div>
                    	<div class="col-4"></div>
                    	<div class="col-4">
                    		<button type="button" 
	                        class="button button-block button-balanced zamara-primary" ng-click="changeContext('smoking_results')">
	                            Next
	                        </button>
                    	</div>
                    	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>