<ion-view title='Zamara Wellness' animation="fade-in-up">

  <ion-content style="background-color: #edecec;">
    <ion-card>
        <div class="login-menu col-12 margin-b-5 pad-b-10 pad-l-15">
            <span>Home (active user)</span>
        </div>
        <div class="padding pad-t-30 pad-l-15" style="position: relative;">
            <div class="login-menu col-12 margin-r-10 margin-b-20" style="padding-top: 0px;">
                <div class="col-12 grid-header margin-b-0" ng-click="goToState('app.sales')">
                    <div class="col-12">
                        <div class="col-xs-12 title-text pad-t-10" style="padding-left:15px;">
                            <b>Health Score</b>
                        </div>
                        <div class="col-12 flex" style="padding: 5px 15px;">
                            <div class="col-6 flex text-center" style="justify-content: center;
                            align-items: center;">
                                <div class="col-12">
                                    <div class="col-12 fs-15">
                                        <b class="text-danger">5 </b> / <small> 10</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 pad-b-10" 
                            style="padding-left: 20px;padding-top: 10px;border-left: 1px solid #e0e0e0;">
                                <div class="col-12">
                                    <i class="icon ion-ios-circle-filled text-danger"></i>
                                    <small>
                                        Exercise
                                    </small>
                                </div>
                                <div class="col-12">
                                <i class="icon ion-ios-circle-filled text-danger"></i>
                                    <small>
                                        Eating
                                    </small>
                                </div>
                                <div class="col-12">
                                <i class="icon ion-ios-circle-filled text-warning"></i>
                                    <small>
                                        Drinking
                                    </small>
                                </div>
                                <div class="col-12">
                                    <i class="icon ion-ios-circle-filled text-success"></i>
                                    <small>
                                        Smoking
                                    </small>
                                </div>
                                <div class="col-12">
                                    <i class="icon ion-ios-circle-filled text-warning"></i>
                                    <small>
                                        Stress
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of fitness intro -->

            <!-- Start of achievements -->
            <div class="login-menu col-12 margin-r-10 margin-b-20" style="padding-top: 0px;">
                <div class="col-12 grid-header margin-b-0" ng-click="goToState('app.sales')">
                    <div class="col-12">
                        <div class="col-xs-12 title-text pad-t-10" style="padding-left:15px;">
                            <b>Achievements</b>
                        </div>
                        <div class="col-12 flex" style="padding: 5px 15px;">
                            <div class="col-5 flex text-center" style="justify-content: center;
                            align-items: center;">
                                <div class="col-12">
                                    <div class="col-12 fs-15">
                                        <i class="icon ion-cube fs-50 text-primary"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7 pad-b-10" 
                            style="padding-left: 20px;padding-top: 10px;">
                                <div class="col-12">
                                    <small>
                                        140 Health Coins
                                    </small>
                                </div>
                                <div class="col-12">
                                    <button type="button" 
                                    class="button button-block button-balanced zamara-success">
                                        <small>View Achievements</small>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fitness notes -->
            <div class="login-menu col-12 margin-r-10 margin-b-20">
                <div class="col-12 grid-header margin-b-0" ng-click="goToState('app.sales')">
                    <div class="col-12">
                        <div class="col-xs-12 title-text text-right" style="padding: 0 15px;">
                            <small><small>Daily Goal <b>3100</b></small></small>
                        </div>
                        <div class="col-12 flex margin-b-5" style="padding: 5px 15px;">
                            <div class="col-12" style="padding-top: 10px;padding-bottom: 10px;">
                                <div class="col-12 fs-15">
                                    1,242
                                    <small>
                                         steps
                                    </small>
                                </div>
                                <div class="col-12 pad-t-10 pad-b-5">
                                    <md-progress-linear md-mode="determinate" value="45"></md-progress-linear>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of fitness notes -->
            <!-- Fitness notes -->
            <div class="login-menu col-12 margin-r-10">
                <div class="col-12 grid-header margin-b-0" ng-click="goToState('app.sales')">
                    <div class="col-12">
                        <div class="col-xs-12 title-text" style="padding: 0 15px;">
                            Health Education
                        </div>
                        <div class="col-12 flex margin-b-5" style="padding: 5px 15px;">
                            <div class="col-3 flex text-center" style="justify-content: center;
                            align-items: center;">
                                <i class="icon ion-android-restaurant" 
                                style="font-size:5.4rem;"></i>
                            </div>
                            <div class="col-9" style="padding-left: 20px;padding-top: 10px;">
                                <div class="col-12">
                                    <small>
                                        Eating well is important for the whole family...
                                    </small>
                                </div>
                                <div class="col-12">
                                    <button type="button" 
                                    class="button button-block button-balanced zamara-success">
                                        Read More
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 flex" style="padding: 5px 15px;">
                            <div class="col-3 flex text-center" style="justify-content: center;
                            align-items: center;">
                                <i class="icon ion-android-walk" 
                                style="font-size:5.4rem;"></i>
                            </div>
                            <div class="col-9" style="padding-left: 20px;padding-top: 10px;">
                                <div class="col-12">
                                    <small>
                                        Running tips for beginners, including safety advice...
                                    </small>
                                </div>
                                <div class="col-12">
                                    <button type="button" 
                                    class="button button-block button-balanced zamara-success">
                                        Read More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of fitness notes -->
        </div>
    </ion-card>

  </ion-content>

</ion-view>